{% extends 'nhsi_template.html' %}

{% block page_title %}Create Password{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <a class="link-back" href="javascript:history.back()">Back</a>
            <form class="form" method="post">
                {% csrf_token %}

                <div class="form-group">

                    <fieldset>
                        <legend>
                            <h1 class="heading-large">
                                Account Activated
                            </h1>
                            <p>Your account has been activated successfully.  You may optionally set a password for your account to enable login via email address and password.</p>
                            <p>If you don't set a password you can still login by requesting a unique login code to be sent to your inbox.  This method may be useful if you don't want to have to remember your password.</p>
                            <p>If you don't set a password now you can do so at any point in the future through your personal settings.</p>
                        </legend>

                        <div class="form-group">
                            <div class="form-group">
                                <label class="form-label-bold" for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                            <div class="form-group">
                                <label class="form-label-bold" for="password_repeat">Repeat password</label>
                                <input type="password" class="form-control" id="password_repeat" name="password_repeat">
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div class="form-group">
                    <input class="button" type="submit" value="Continue">
                </div>

            </form>

        </div>
    </div>
</main>

{% endblock %}