{% extends 'nhsi_template.html' %}

{% block page_title %}Reset Password{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <a class="link-back" href="javascript:history.back()">Back</a>
            <form class="form" method="post">
                {% csrf_token %}

                <div class="form-group">

                    <fieldset>
                        <legend>
                            <h1 class="heading-large">
                                Reset Password
                            </h1>
                            <p>
                                Choose a new password below.
                            </p>
                        </legend>

                        <div class="form-group">
                            <div class="form-group">
                                <label class="form-label-bold" for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                            <div class="form-group">
                                <label class="form-label-bold" for="password_repeat">Repeat password</label>
                                <input type="password" class="form-control" id="password_repeat" name="password_repeat">
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div class="form-group">
                    <input class="button" type="submit" value="Continue">
                </div>

            </form>

        </div>
    </div>
</main>

{% endblock %}