{% extends 'nhsi_template.html' %}

{% block page_title %}Sign In{% endblock %}
{% load static %}
{% load govuk_template_base %}

{% block inner_content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <a class="link-back" href="javascript:history.back()">Back</a>
            <form class="form" method="post">
                {% csrf_token %}

                <div class="form-group">

                    <fieldset>
                        <legend>
                            <h1 class="heading-large">
                                Sign in
                            </h1>
                            <p class="form-hint">
                                Sign in to your NHS Improvement account to get started.
                            </p>
                        </legend>

                        <div class="form-group">
                            <div class="form-group">
                                <label class="form-label-bold" for="username">Email address</label>
                                <input type="text" class="form-control" id="username" name="username">
                            </div>
                            <div class="form-group">
                                <label class="form-label-bold" for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div class="form-group">
                    <input class="button" type="submit" value="Continue">
                </div>
                <div class="form-group">
                    <p><a href="{% url 'request_password_reset' %}">Forgotten your password?</a></p>
                </div>


            </form>

        </div>
    </div>
</main>

{% endblock %}