<div class="form-group{% if data.haserror %}-error{% endif %} {% if data.istarget %}
     panel panel-border-narrow js-hidden
     {% endif %}"
     id="{{ data.id }}">
    <fieldset class="inline">
        <legend>
            <h2 class="heading-medium">
                {{ data.label.question }}
            </h2>
            <p class="form-hint">
                {{ data.guidance }}
            </p>
            {% if data.haserror %}
                <span class="error-message">{{ data.error_message }}</span>
            {% endif %}
        </legend>
        <div class="multiple-choice" {% if data.target.true %}
             data-target="{{ data.target.true }}"
            {% endif %}>
            <input id="{{ data.id }}-true" type="radio" name="{{ data.id }}" value="true" {% if data.response == 'true' %}checked="checked"{% endif %}>
            <label for="{{ data.id }}-true">{{ data.label.true }}</label>
        </div>
        <div class="multiple-choice" {% if data.target.false %}
             data-target="{{ data.target.false }}"
            {% endif %}>
            <input id="{{ data.id }}-false" type="radio" name="{{ data.id }}" value="false" {% if data.response == 'false' %}checked="checked"{% endif %}>
            <label for="{{ data.id }}-false">{{ data.label.false }}</label>
        </div>
    </fieldset>
</div>