<div id="{{ data.id }}" class="form-group{% if data.haserror %}-error{% endif %} {% if data.istarget %}
     panel panel-border-narrow js-hidden
     {% endif %}"
     id="{{ data.id }}">
    <fieldset>
        <legend>
            <label class="form-label-bold">{{ data.label }}</label>
            <p class="form-hint">
                {{ data.guidance }}
            </p>
            {% if data.haserror %}
                <span class="error-message">{{ data.error_message }}</span>
            {% endif %}
        </legend>
        {% for option in data.options %}
            <div class="multiple-choice" data-target="{{ option.target }}">
                <input type="radio" name="{{ data.id }}" value="{{ option.label }}" class="form-control" id="{{ data.id }}-{{ option.id }}" {% if data.response == option.label %}checked="checked"{% endif %}/>
                <label id="{{ data.id }}-{{ option.id }}-label" for="{{ data.id }}-{{ option.id }}">{{ option.label }}</label>
            </div>
        {% endfor %}
    </fieldset>
</div>