<div {% if data.istarget %}
     class="panel panel-border-narrow js-hidden"
     {% endif %}
     id="{{ data.id }}">
    <div class="form-group">
        <legend>
            <label class="form-label-bold" for="{{ data.id }}-input">{{ data.label }}</label>
            <p class="form-hint">
                {{ data.guidance }}
            </p>
            {% if data.haserror %}
                <span class="error-message">{{ data.error_message }}</span>
            {% endif %}
        </legend>
        <textarea class="form-control{% if data.haserror %}-error{% endif %} form-control-3-4" id="{{ data.id }}-input" name="{{ data.id }}" rows="5">{% if data.response %}{{ data.response }}{% endif %}</textarea>
    </div>
</div>