<div {% if data.istarget %}
     class="panel panel-border-narrow js-hidden"
     {% endif %}
     id="{{ data.id }}">
    <div class="form-group">
        <legend>
            <label class="form-label-bold" for="{{ data.id }}-input">{{ data.label }}</label>
            <p class="form-hint">
                {{ data.guidance }}
            </p>
            {% if data.haserror %}
                <span class="error-message">{{ data.error_message }}</span>
            {% endif %}
        </legend>
        <input type="text" class="form-control{% if data.haserror %}-error{% endif %}" id="{{ data.id }}-input" name="{{ data.id }}" {% if data.response %}value="{{ data.response }}"{% endif %}>
    </div>
</div>